.navbarDashboard{
    background-color: white;
    box-shadow: rgb(56 50 40) 0px 0px 3px 0px;
}
.navbarDashboard .nav-item .nav-link{
    color: black;
}
.navbarDashboard .nav-item .nav-link.active{
    font-weight: 500;
}
.imgLogo{
    height: 50px;
    object-fit: cover;
}